*{
  box-sizing: border-box;  
}

.blue {
    --clr: #938f71;
}
.red {
    --clr: #889c9b;
}
.yellow {
    --clr: #5f3426;
}
.green {
    --clr: #a59075;
}
.brown {
    --clr: #937460;
}
/*aaaa*/
.pistage {
    --clr: #7f3004;
}
.russin {
    --clr: #cf763b;
}
.banan {
    --clr: #b4901e;
}
.apple {
    --clr: #8d8638;
}
.kaffe {
    --clr: #7a665d;
}
.milk {
    --clr: #9db055;
}
.water {
    --clr: #b0987d;
}
body {
    background-color: #2a2a2b;
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    color: rgb(71, 92, 108);
    text-transform: uppercase;
    margin: 30px;
    text-shadow: 2px 2px 10px #000;
}

.box{
    position: relative;
    background-color: var(--clr);
    color: #761d1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: 75vh;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
    overflow: hidden;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}
.box.show {
    transform: translateX(0);
}

.box h2 {
    color: #f7efd3;
    font-size: 45px;
    text-shadow: 2px 2px 3px #000;
    position: relative;
    z-index: 2;
}
/* Wrapper runt bilden för att kunna styra både bild och overlay */
.image-wrapper {
    position: relative;
    max-width: 50%; /* Bilden kommer inte att bli bredare än 80% av boxen */
    max-height: 50%; /* Bilden kommer inte att bli högre än 200px */
    width: auto;
    height: auto;
    z-index: 1;
}

.blurred-image {
    max-width: 100%; /* Bilden kommer inte att bli bredare än 80% av boxen */
    max-height: 100%; /* Bilden kommer inte att bli högre än 200px */
    width: auto;
    height: auto;
    filter: blur(15px); /* Blurrar bilden */
    z-index: 2;
    position: relative;
    margin: 10px 0; /* Lägg till lite utrymme runt bilden */
}

/* Skapa färgtonen med ett semi-transparent pseudo-element */
.image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(69, 73, 77, 0.9); /* En röd ton med transparens */
    z-index: 1;
}

.btn {
    display: inline-block;
    padding: 20px 60px;
    margin-top: 10px;
    background-color: #761d1d;
    color: #f2d662;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #9f1818; /* Ändra bakgrundsfärgen när musen hovrar över knappen */
}
